<div class="products">
<h1 class="products_title">Resultados da pesquisa: </h1>
<% @products.each do |product| %>
	<div class="product">
		
		<!-- HEADER -->
		<div class="product_header">
			<div class="product_img">
				<div class="img_box">
					<%= image_tag(
						"notebook_example.jpg",
						alt: "No image! :(",
						title: "Notebook img example")
					%>
				</div>
			</div>
			<div class="product_name">
					<h1><%= product.name %></h1>
			</div>
			<div class="product_buttons">
				<%= material_buttons '&#xE8DC;', :product_button_aval, :product_like %>
				<%= material_buttons '&#xE8DB;', :product_button_aval, :product_dislike %>
				<%= material_buttons '&#xE5CF;', :product_expand %>
			</div>
		</div>

		<div class="product_middle">
			<% if product.stores.size >= 2 %>
				<section class="info_and_control">
					<!-- AVERAGE_PRICE -->
					<div class="average_price">
						Preço médio: R$<%= product.stores.avg(:price).round(2) %>
					</div>
				</section>
			<% end %>
			
			<div class="stores">
				<%
				@available_stores = product.stores.size
				product.stores.each do |store|
					if store.available == false
						@available_stores -= 1
						next
					end
					#next if store.available == false

					begin
						store_name = store.store.titleize
						img_url = store_name.downcase.delete("_").delete(" ")
						price = store.price.round(2)
						sku = store.sku
						url = store.url
					rescue => ex
						logger.error ex.message
					end
				%>
					
					<div class="store">
						<div class="store_info">
							<div class="store_logo">
								<%= image_tag(
									"store_logo_#{img_url}.jpg",
									alt: "No image! :(",
									title: "#{store_name} logo")
								%>
							</div>
							<div class="store_name"><%= store_name %></div>
						</div>
						<div class="store_product_price">R$ <%= price %></div>
						<div class="store_product_sku">cód. item: <%= sku %></div>
						<div class="store_link">
							<a href="<%= url %>">
								<button class="store_link_button">
									Abrir na loja <i class="material-icons">&#xE89E;</i>
								</button>
							</a>
						</div>
					</div>

				<% end %>
				
				<% if @available_stores == 0 %>
					<div class="no_stores">
						<h1>Opps!!</h1>
						<div class="error">
							Não há lojas vendendo este produto no momento... :[
						</div>
					</div>
				<% end %>

			</div>

			<!-- PRODUCT_FEATURES -->
			<%= product_features product, :brand, :display_size, :storage, :ram_memory %>
			
		</div>
	</div>
<% end %>
	<div id="pagination">
		<%= products_paginate @num_pages, @page %>
	</div>
</div>