<div class="selectors" id="accordion">
	<h1 class="super_title"><%= t(:categories) %>:</h1>
	<%= form_tag("/products", method: "get", name: "fields", remote: true) do %>
		<% @fields.each do |field, values| %>
            <div id="group_<%= field %>">
			  <%= link_to(t(field),{}, class:'groupers btn btn-primary btn-lg btn-block' , href:"##{field}", data:{ toggle: 'collapse', parent:'#accordion'} )%>			  
				<div id="<%= field %>"" class="collapse" class="collapse in">			
					<% values.each do |value| %>
					<p class="list-group-item" data-parent="#<%=field%>">	
					    
						<!-- verificação se o filtro deveria estar clicado ou não -->
						<% checked = (params[field] && @fields[field].include?(params[field]) && params[field] == value)%>
						<%= check_box_tag(field, value, checked, {class: "category_type"}) %>

						<%= label_tag(value, value) %>
					</p>
				    <% end %>

			    </div>
		    </div>
		<% end %>
	<% end %>
</div>