<!--
<div class="selectors">
	<h1><%= t(:categories) %></h1>
	<%= form_tag("/products", method: "get", name: "fields", remote: true) do %>
		<% @fields.each do |field, values| %>
			<%= label_tag(field, t(field)) %>
				<% values.each do |value| %>
				<p>
					<% checked = (params[field] && @fields[field].include?(params[field]) && params[field] == value)%>
					<%= check_box_tag(field, value, checked, {class: "category_type"}) %>

					<%= label_tag(value, value) %>
				</p>
			<% end %>
		<% end %>
	<% end %>
</div>
-->

<div class="selectors" id="accordion">
	<h1><%= t(:categories) %>:</h1>
	<%= form_tag("/products", method: "get", name: "fields", remote: true) do %>
		<% @fields.each do |field, values| %>
            <div id="group_<%= field %>">
			  <%= link_to(t(field),{}, class:'groupers btn btn-primary btn-lg btn-block' , href:"##{field}", data:{ toggle: 'collapse', parent:'#accordion'} )%>			  
			</div>
			<div id="<%= field %>"" class="collapse" class="collapse in">			
				<% values.each do |value| %>
				<p class="list-group-item" data-parent="#<%=field%>">	
				    
					<!-- verificação se o filtro deveria estar clicado ou não -->
					<% checked = (params[field] && @fields[field].include?(params[field]) && params[field] == value)%>
					<%= check_box_tag(field, value, checked, {class: "category_type"}) %>

					<%= label_tag(value, value) %>
				</p>
			    <% end %>

		    </div>
		<% end %>
	<% end %>
</div>