<header>
	<%= material_buttons '&#xE5D2;', :sandwich_menu %>
	<%= image_tag "pw_icon", alt: "No image", title: "Logo", id: :logo %>
	<div class="pag_title"><h1><%= link_to "PriceWatch", root_path %></h1></div>
	<nav id="pag_links">
		<%= link_to t(:home), root_path %>
		<%= link_to t(:about), root_path %>
		<%= link_to t(:terms), root_path %>
	</nav>
</header>
<section id="pw_presentation" class="pw_presentation">
	<h1><%= t(:find_researched) %></h1>
	<p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
</section>

<section class="container">
	<%= render 'selectors' %>
	<%= render 'products' %>
</section>

<footer>
	<div id="widget1">
		
	</div>
	<div id="widget2">
		
	</div>
</footer>